<div style="width: 500px" class="d-flex flex-column">
  <form style="width: 1000px; padding: 0px; margin: 0px">
    <!-- Survey depth -->
    <div class="d-flex w-50">
      <div
        style="width: 110px"
        class="d-flex align-middle text-center justify-content-cente align-items-center"
      >
        <label for="surveyDepth" class="fw-bold">Survey Depth</label>
      </div>
      <div class="p-3">
        <input
          type="number"
          class="form-control"
          [(ngModel)]="survey_depth"
          name="surveyDepth"
          id="surveyDepth"
        />
      </div>
    </div>

    <!-- Inclination -->
    <div class="d-flex w-50">
      <div
        style="width: 110px"
        class="d-flex align-middle text-center justify-content-cente align-items-center"
      >
        <label for="inc" class="fw-bold">Inclination</label>
      </div>
      <div class="p-3">
        <input
          type="number"
          class="form-control"
          [(ngModel)]="inc"
          name="inc"
          id="inc"
        />
      </div>
    </div>

    <!-- Azimuth -->
    <div class="d-flex w-50">
      <div
        style="width: 110px"
        class="d-flex align-middle text-center justify-content-cente align-items-center"
      >
        <label for="azi" class="fw-bold">Azimuth</label>
      </div>
      <div class="p-3">
        <input
          type="number"
          class="form-control"
          [(ngModel)]="azi"
          name="azi"
          id="azi"
        />
      </div>
    </div>

        <!-- Well Architect DLS -->
    <div class="d-flex w-50">
      <div
        style="width: 110px"
        class="d-flex align-middle text-center justify-content-cente align-items-center"
      >
        <label for="azi" class="fw-bold">WA DLS</label>
      </div>
      <div class="p-3">
        <input
          type="number"
          class="form-control"
          [(ngModel)]="dlsWa"
          name="azi"
          id="azi"
        />
      </div>
    </div>

    <div class="d-flex justify-content-center w-25 pt-3">
      <button type="button" (click)="submitSurvey()" class="btn btn-primary shadow-btn">
        Insert Survey
      </button>
    </div>
    <!-- Clear all data button -->
    <div class="d-flex justify-content-center w-25 pt-3">
      <button
        type="button"
        (click)="clearAllData()"
        class="btn btn-danger shadow-btn"
        style="width: 115px"
      >
        Reset
      </button>
    </div>
  </form>
</div>
