<footer class="">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="fw-bold mb-0">
            &copy; 2024 Son Hong "Robert" Giang. All rights reserved.
          </p>
        </div>
        <div class="col-md-6 text-md-end mt-2 mt-md-0">
          <p class="mb-0">
            <a href="#" class="text-decoration-none me-3 text-black">Terms of Service</a> | 
            <a href="#" class="text-decoration-none ms-3 text-black">Privacy Policy</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
