<div class="container-fluid mt-5">
  <h1 class="mb-5">Edit Survey by ID: {{ survey.id }}</h1>
  <table class="table table-striped table-responsive">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Survey Depth</th>
        <th scope="col" class="text-center">Inc</th>
        <th scope="col" class="text-center">Azi</th>
        <th scope="col" class="text-center">Dls(WA) /30m</th>
        <th scope="col" class="text-center">ToolFace</th>
        <th scope="col" class="text-center">From</th>
        <th scope="col" class="text-center">To</th>
        <th scope="col" class="text-center">Total Slid Dist</th>
        <th scope="col" colspan="2" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="align-middle text-center">{{ survey.id }}</th>
  
        <!-- Update Survey section -->
        <td class="align-middle text-primary fw-bold">
          <input
            type="number"
            class="form-control fw-bold"
            [(ngModel)]="survey.survey_depth"
            name="surveyDepth"
            id="surveyDepth"
          />
        </td>
        <td class="align-middle text-primary fw-bold">
          <input
            type="number"
            class="form-control fw-bold"
            [(ngModel)]="survey.inc"
            name="inc"
            id="inc"
          />
        </td>
        <td class="align-middle text-primary fw-bold">
          <input
            type="number"
            class="form-control fw-bold"
            [(ngModel)]="survey.azi"
            name="azi"
            id="azi"
          />
        </td>
        <td class="align-middle text-primary fw-bold">
          <input
            type="number"
            class="form-control"
            [(ngModel)]="survey.dlsWa"
            name="dlsWa"
            id="dlsWa"
          />
        </td>
        <!-- End of update Survey section -->
        
        <td class="align-middle text-primary fw-bold">
          <input
            type="number"
            class="form-control fw-bold"
            [(ngModel)]="survey.toolface"
            name="toolFace"
            id="toolFace"
          />
        </td>
        <td class="align-middle text-danger fw-bold">
          <input
            type="number"
            class="form-control fw-bold text-danger"
            [(ngModel)]="survey.st"
            name="st"
            id="st"
          /></td>
          <td class="align-middle">
            <input
              type="number"
              class="form-control fw-bold text-danger"
              [(ngModel)]="survey.ed"
              name="ed"
              id="ed"
            /></td>
        <td class="align-middle text-center">
          {{ survey.totalslid !== 0 ? survey.totalslid : "-" }}
        </td>
        
        <td class="align-middle text-center h5">
          <button
            type="button"
            (click)="editSurveyById()"
            class="btn btn-primary"
          >
            Save Changes
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


