<div style="width: 500px" class="d-flex flex-column">
  <form style="width: 1000px; padding: 0px; margin: 0px">
    <!-- Update sliding for survey -->
    <div class="d-flex w-50">
      <div
        style="width: 100px"
        class="d-flex align-middle text-center justify-content-cente align-items-center"
      >
        <label for="surveyID" class="fw-bold">Survey ID</label>
      </div>
      <div class="p-3">
        <input
          type="string"
          class="form-control"
          [(ngModel)]="surveyID"
          name="surveyID"
          id="surveyID"
        />
      </div>
    </div>

    <!-- Tool Face -->
    <div class="d-flex w-50">
      <div
        style="width: 100px"
        class="d-flex align-middle text-center justify-content-cente align-items-center"
      >
        <label for="toolFace" class="fw-bold">Tool Face</label>
      </div>
      <div class="p-3">
        <input
          type="string"
          class="form-control"
          [(ngModel)]="toolFace"
          name="toolFace"
          id="toolFace"
        />
      </div>
    </div>

    <!-- Depth Start Sliding -->
    <div class="d-flex w-50">
      <div
        style="width: 100px"
        class="d-flex align-middle text-center justify-content-cente align-items-center"
      >
        <label for="st" class="fw-bold">Depth Start</label>
      </div>
      <div class="p-3">
        <input
          type="number"
          class="form-control"
          [(ngModel)]="st"
          name="st"
          id="st"
        />
      </div>
    </div>

    <!-- Depth End Sliding -->
    <div class="d-flex w-50">
      <div
        style="width: 100px"
        class="d-flex align-middle text-center justify-content-cente align-items-center"
      >
        <label for="ed" class="fw-bold">Depth End</label>
      </div>
      <div class="p-3">
        <input
          type="number"
          class="form-control"
          [(ngModel)]="ed"
          name="ed"
          id="ed"
        />
      </div>
    </div>

    <div class="d-flex justify-content-center w-25 pt-3">
      <button
        type="button"
        (click)="updateSurveyWithSlidingData()"
        class="btn btn-primary shadow-btn"
      >
        Insert Sliding
      </button>
    </div>
  </form>
</div>
